.containerAnalysisThemesScreen {
    width: 100%;
    height: 100%;
    background-color: #2f7958;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerAnalysisThemesScreen {
    background-color: silver;
    width: 100%;
    padding: 5px 0px;
    margin-bottom: 10px;
}

.divViewChoiceAnalysisThemesScreen {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: silver;
    padding: 10px 5px;
    min-width: 60%;
    align-self: center;
}

.divViewChoiceAnalysisThemesScreen p {
    font-size: 20px;
    font-weight: bold;
    margin: auto;
}

.headerGraficBallsAnalysisThemesScreen{
    /* background-color: coral; */
    background-color: #FAA733;
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
    padding: 5px 0px;
}
.themeNameAnalysisThemesScreen {
    width: 20%;
    align-self: center;
}

.themeAnalysisThemesScreen {
    display: flex;
    margin-bottom: 10px;
    border: solid 1px;
    border-radius: 20px;
    background-color: #fff;
    justify-content: space-around;
    width: 90%;
    margin: 10px auto;
}

.graficBallsAnalysisThemesScreen {
    margin: 10px;
}

.divBallsAnalysisThemesScreen {
    justify-content: center;
    width: 40%;
    align-self: flex-start;
    margin-bottom: 10px;
}